beautifulsoup4==4.13.3
bleach==6.1.0
Django==5.1.1
django_ckeditor==6.7.1
Flask==2.3.2
fpdf==1.7.2
google_api_python_client==2.144.0
protobuf==5.29.3
python-dotenv==1.0.1
xhtml2pdf==0.2.16
waitress==3.0.2
